/*------------------------------------*\ 
    #BASE:EMBEDS
\*------------------------------------*/


// figure { }

// figcaption { }

// img { }

// iframe { }

// embed { }

// object { }

// param { }

// video { }

// track { }

// audio { }

// source { }

// canvas { }

// map { }

// area { }

// picture { }