/*------------------------------------*\ 
    #BASE:INTERACTIVE
\*------------------------------------*/


// details { }

// command { }

// bb { }

// menu { }

// menuitem { }

// summary { }