/*------------------------------------*\ 
    #BASE:SECTIONS
\*------------------------------------*/


// body { }

// main { }

// section { }

// nav { }

// article { }

// aside { }

// h1 { }

// h2 { }

// h3 { }

// h4 { }

// h5 { }

// h6 { }

// header { }

// footer { }

// address { }