/*------------------------------------*\ 
    #BASE:TYPE
\*------------------------------------*/


// a { }

// q { }

// cite { }

// em { }

// strong { }

// small { }

// mark { }

// dfn { }

// abbr { }

// time { }

// progress { }

// meter { }

// code { }

// var { }

// samp { }

// kbd { }

// sub { }

// sup { }

// span { }

// i { }

// b { }

// bdi { }

// bdo { }

// ruby { }

// rt { }

// rp { }

// rtc { }

// data { }

// s { }

// u { }

// wbr { }