// ------------------------------------ \\
// #INFO:VARIABLES:FONTS
// ------------------------------------ //


// A few type variable definitions:
//  1.  The primary font-face used.
//  2.  The secondary font-face used.

$font-primary:          Roboto, Arial, Helvetica, sans-serif; // [1]
$font-secondary:        "Roboto Condensed", Arial, Helvetica, sans-serif; // [2]